@model IEnumerable<Attendance_System.Models.Person>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Source)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Device)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumberID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Source)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Device)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PhoneNumberID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PhoneNumberID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PhoneNumberID })
        </td>
    </tr>
}

</table>
