@model IEnumerable<Attendance_System.Models.Person>

@{
    ViewBag.Title = "ລາຍຊື່ບຸກຄົນ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="panel panel-primary">
    <div class="panel-heading" style="padding-bottom: 0">
        <div class="pull-left">
            <button type="button" id="sidebarCollapse" class="navbar-btn" style="background-color:transparent; color:white !important; margin-top:1px; margin-right:4px;">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>

        <p class="boon-700 text-center" style="font-size: 20px; margin-top: 6px; color: #f4f4f4"><i class="fas fa-address-card"></i> ລາຍຊື່ບຸກຄົນ</p>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <a href="@Url.Action("Create", "CheckInCheckOut")" class="btn btn-success "><i class="fas fa-plus"></i> &nbsp; ເພີ່ມ</a>
            </div>

            <div class="col-xs-12" style="margin-top: 14px">
                <table class="table table-striped table-hover display" id="myTable">
                    <thead>
                        <tr style="background-color: #eb001f; color: whitesmoke">
                            <th>
                                <i class="fas fa-user"></i> &nbsp; ຊື່ ແລະ ນາມສະກຸນ
                            </th>
                            <th>
                                <i class="fas fa-map-marked"></i> &nbsp; ທີ່ມາ
                            </th>
                            <th>
                                <i class="fas fa-id-badge"></i>  &nbsp; ລະຫັດພະນັກງານ
                            </th>
                            <th>
                                <i class="fas fa-power-off"></i> &nbsp; ການເປີດ/ປິດໃຊ້ງານ
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FullName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Source)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EmployeeID)
                                </td>
                                <td>
                                    @if (item.IsActive == true)
                                    {
                                        <div>ເປີດໃຊ້</div>
                                    }
                                    else
                                    {
                                        <div>ປິດໃຊ້</div>
                                    }
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit", "CheckInCheckOut", new { id=item.PhoneNumberID })" class="btn btn-primary btn-xs"><i class="fas fa-edit"></i> &nbsp; ແກ້ໄຂ</a>
                                    @*@Html.ActionLink("Details", "Details", new { id=item.PhoneNumberID }) |*@
                                    <a href="@Url.Action("Delete", "CheckInCheckOut", new { id=item.PhoneNumberID })" class="btn btn-danger btn-xs"><i class="fas fa-trash"></i> &nbsp; ລຶບ</a>
                                </td>
                            </tr>
                        }

                </table>
            </div>
        </div>
    </div>
</div>

  <script type="text/javascript">

    $(document).ready(function () {
        $('#myTable').DataTable();
    });

</script> 
