@model Attendance_System.Models.CheckinCheckout


@using (Html.BeginForm("Checkout", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <style>
        .modal-sm {
            width: 500px
        }
    </style>


    <input name="ID" value="@Model.ID" hidden />
    <input name="PhoneNumberID" value="@Model.PhoneNumberID" hidden />
    <input name="Checkin" value="@Model.Checkin" hidden />
    <input name="Purpose" value="@Model.Purpose" hidden />
    <input name="Device" value="@Model.Device" hidden />
    <input name="Device" value="@Model.Department.ID" hidden />
    <div class="row">

        <div class="col-xs-5">
            <div class="form-group">
                <label class="control-label" style="font-weight:bold"><i class="fa fa-user" style="width: 20px"></i> ຊື່ ແລະ ນາມສະກຸນ:</label>
            </div>
        </div>
        <div class="col-xs-7">
            <div class="form-group">
                <label class="control-label">@Model.Person.FullName</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5">
            <div class="form-group">
                <label class="control-label" style="font-weight:bold"><i class="fa fa-phone" style="width: 20px"></i> ເບີໂທ:</label>
            </div>
        </div>
        <div class="col-xs-7">
            <div class="form-group">
                <label class="control-label">@Model.PhoneNumberID</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5">
            <div class="form-group">
                <label class="control-label" style="font-weight:bold"><i class="fa fa-map-marker" style="width: 20px"></i> ມາຈາກ:</label>
            </div>
        </div>
        <div class="col-xs-7">
            <div class="form-group">
                <label class="control-label">@Model.Person.Source</label>
            </div>
        </div>
    </div>



    if (!string.IsNullOrEmpty(Model.Person.EmployeeID))
    {
        <div class="row">
            <div class="col-xs-5">
                <div class="form-group">
                    <label class="control-label" style="font-weight:bold"><i class="fa fa-id-badge" style="width: 20px"></i> ລະຫັດພະນັກງານ:</label>
                </div>
            </div>
            <div class="col-xs-7">
                <div class="form-group">
                    <label class="control-label">@Model.Person.EmployeeID</label>
                </div>
            </div>
        </div>
    }


    <div class="row">
        <div class="col-xs-5">
            <div class="form-group">
                <label class="control-label" style="font-weight:bold"><i class="fa fa-question-circle" style="width: 20px"></i> ຈຸດປະສົງ:</label>
            </div>
        </div>
        <div class="col-xs-7">
            <label class="control-label">@Model.Purpose</label>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-5">
            <div class="form-group">
                <label class="control-label" style="font-weight:bold"><i class="fa fa-building" style="width: 20px"></i> ຜະແຫນກ:</label>
            </div>
        </div>
        <div class="col-xs-7">
            <label class="control-label">@Model.Department.Department1</label>
        </div>
    </div>
    if (!string.IsNullOrEmpty(Model.Device))
    {
        <div class="row">
            <div class="col-xs-5">
                <div class="form-group">
                    <label class="control-label" style="font-weight:bold"><i class="fa fa-laptop" style="width: 20px"></i> ອຸປະກອນທີ່ນຳເຂົ້າມາ:</label>
                </div>
            </div>
            <div class="col-xs-7">
                <label class="control-label">@Model.Device</label>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-xs-5">
            <div class="form-group">
                <label class="control-label" style="font-weight:bold"><i class="fa fa-clock" style="width: 20px"></i> ເວລາເຂົ້າ:</label>
            </div>
        </div>
        <div class="col-xs-7">
            <label class="control-label">@String.Format("{0:HH:mm dd/MM/yyyy}", Model.Checkin)</label>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5">
            <div class="form-group">
                <label class="control-label" style="font-weight:bold"><i class="fa fa-comment" style="width: 20px"></i> ຫມາຍເຫດ:</label>
            </div>
        </div>
        <div class="col-xs-7">
            <textarea rows="3" name="Comment" class="form-control" maxlength="256" style="margin-bottom: 12px">@Model.Comment</textarea>
        </div>
    </div>
    <div class="modal-footer ">
        <button type="button" class="btn btn-default" data-dismiss="modal">ຍົກເລີກ</button>
        <button type="submit" value="save" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>&nbsp;ລົງຊື່ອອກ</button>
    </div>
    <script>
        $(function () {
            $("#modalTitle").html("ກະລຸນາຢືນຢັນຂໍ້ມູນແລ້ວລົງຊື່ອອກ");

        });


    </script>
}


