@model Attendance_System.Models.Person

@using (Html.BeginForm("Index", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label class="control-label" style="font-weight:bold">ຊື່ ແລະ ນາມສະກຸນ:</label>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label class="control-label">@Model.FullName</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label class="control-label" style="font-weight:bold">ເບີໂທ:</label>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label class="control-label">@Model.PhoneNumberID</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label class="control-label" style="font-weight:bold">ມາຈາກ:</label>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="form-group">
                <label class="control-label">@Model.Source</label>
            </div>
        </div>
    </div>



    if (!string.IsNullOrEmpty(Model.EmployeeID))
    {
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="control-label" style="font-weight:bold">ລະຫັດພະນັກງານ:</label>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="control-label">@Model.EmployeeID</label>
                </div>
            </div>
        </div>
    }


    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label class="control-label" style="font-weight:bold">ຈຸດປະສົງ:</label>
            </div>
        </div>
        <div class="col-xs-6">
            <select class="form-control" style="height:30px ; padding-top:3px">
                <option value="">ຝຶກງານ</option>
                <option value="">ສົ່ງເອກະສານ</option>
                <option value="">ປະຊຸມ</option>
                <option value="">ມາເອົາຄອມທີ່ແປງ</option>
                <option value="">ພົວພັນວຽກ</option>
                <option value="">ເອົາຄອມມາແປງ</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="form-group">
                <label class="control-label" style="font-weight:bold">ອຸປະກອນທີ່ນຳເຂົ້າມາ:</label>
            </div>
        </div>
        <div class="col-xs-6">
            <select class="form-control" style="height:30px ; padding-top:3px">
                <option value="">Laptop</option>
                <option value="">ເອກະສານ</option>
                <option value="">PC</option>
            </select>
        </div>
    </div>
    <div class="modal-footer ">
        <button type="button" class="btn btn-default" data-dismiss="modal">ຍົກເລີກ</button>
        <button type="submit" class="btn btn-success"><i class="fas fa-sign-in-alt"></i>&nbsp;ລົງຊື່ເຂົ້າໃຊ້</button>
    </div>
}



