@model Attendance_System.Models.Person

@using (Html.BeginForm("CheckIn", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <style>
        .modal-sm {
            width: 500px;
        }

        .dropdown {
            height:30px ; padding-top:3px
        }
    </style>

    <div class="row">
        <div class="col-xs-5">
            <div class="form-group">
                <label class="control-label" style="font-weight:bold"><i class="fa fa-user" style="width: 20px"></i> ຊື່ ແລະ ນາມສະກຸນ:</label>
            </div>
        </div>
        <div class="col-xs-7">
            <div class="form-group">
                <label class="control-label">@Model.FullName</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5">
            <div class="form-group">
                <label class="control-label" style="font-weight:bold"><i class="fa fa-phone" style="width: 20px"></i> ເບີໂທ:</label>
            </div>
        </div>
        <div class="col-xs-7">
            <div class="form-group">
                <label class="control-label">@Model.PhoneNumberID</label>
                @Html.HiddenFor(m => m.PhoneNumberID)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5">
            <div class="form-group">
                <label class="control-label" style="font-weight:bold"><i class="fas fa-map-marker" style="width: 20px"></i> ມາຈາກ:</label>
            </div>
        </div>
        <div class="col-xs-7">
            <div class="form-group">
                <label class="control-label">@Model.Source</label>
            </div>
        </div>
    </div>



    if (!string.IsNullOrEmpty(Model.EmployeeID))
    {
        <div class="row">
            <div class="col-xs-5">
                <div class="form-group">
                    <label class="control-label" style="font-weight:bold"><i class="fa fa-id-badge" style="width: 20px"></i> ລະຫັດພະນັກງານ:</label>
                </div>
            </div>
            <div class="col-xs-7">
                <div class="form-group">
                    <label class="control-label">@Model.EmployeeID</label>
                </div>
            </div>
        </div>
    }


    <div class="row">
        <div class="col-xs-5">
            <div class="form-group">
                <label class="control-label" style="font-weight:bold"><i class="fa fa-question-circle" style="width: 20px"></i> ຈຸດປະສົງ:</label>
            </div>
        </div>
        <div class="col-xs-7">
            <select class="has_other form-control" @*style="height:30px ; padding-top:3px"*@ data-other="#Purpose" name="Purpose" data-other-text="ອື່ນໆ...">
                <option value="ຝຶກງານ">ຝຶກງານ</option>
                <option value="ສົ່ງເອກະສານ">ສົ່ງເອກະສານ</option>
                <option value="ປະຊຸມ">ປະຊຸມ</option>
                <option value="ມາເອົາຄອມທີ່ແປງ">ມາເອົາຄອມທີ່ແປງ</option>
                <option value="ພົວພັນວຽກ">ພົວພັນວຽກ</option>
                <option value="ເອົາຄອມມາແປງ">ເອົາຄອມມາແປງ</option>
                <option value="ອື່ນໆ...">ອື່ນໆ...</option>
            </select>
            <input style="margin: 4px 0" type="text" id="Purpose" class="form-control" name="Purpose2" placeholder="ກະລຸນາລະບຸຈຸດປະສົງຂອງທ່ານ" autocomplete="off" />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-5">
            <div class="form-group">
                <label class="control-label" style="font-weight:bold"><i class="fa fa-building" style="width: 20px"></i> ຜະແຫນກ:</label>
            </div>
        </div>

        <div class="col-xs-7">
            @Html.DropDownList("DepartmentID", null, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="row">
        <div class="col-xs-5">
            <div class="form-group">
                <label class="control-label" style="font-weight:bold"><i class="fa fa-laptop" style="width: 20px"></i> ອຸປະກອນທີ່ນຳເຂົ້າມາ:</label>
            </div>
        </div>
        <div class="col-xs-7">
            <select class="has_other form-control" @*style="height:30px ; padding-top:3px"*@ data-other="#Device" name="Device" data-other-text="ອື່ນໆ...">
                <option value="">ບໍ່ມີ</option>
                <option value="Laptop">Laptop</option>
                <option value="ເອກະສານ">ເອກະສານ</option>
                <option value="PC">PC</option>
                <option value="Tablet">Tablet</option>
                <option value="ອື່ນໆ...">ອື່ນໆ...</option>
            </select>
            <input style="margin: 4px 0" type="text" id="Device" class="form-control" name="Device2" placeholder="ກະລຸນາລະບຸອຸປະກອນຂອງທ່ານ" autocomplete="off" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5">
            <div class="form-group">
                <label class="control-label" style="font-weight:bold"><i class="fa fa-comment" style="width: 20px"></i> ຫມາຍເຫດ:</label>
            </div>
        </div>
        <div class="col-xs-7">
            <div class="form-group">
                <textarea rows="3" name="Comment" class="form-control" maxlength="256" style="margin-bottom: 12px" />
            </div>
        </div>

    </div>
    
    <div class="modal-footer ">
        <button type="button" class="btn btn-default" data-dismiss="modal">ຍົກເລີກ</button>
        <button type="submit" value="CheckIn" class="btn btn-success"><i class="fas fa-sign-in-alt"></i>&nbsp;ລົງຊື່ເຂົ້າໃຊ້</button>
    </div>

    <script>
        // handle cases where dropdown's have an "other" option
        $.each($("select.has_other").change(function () {
            updateOther(this, true);
        }), function () {
            updateOther(this);
        });

        function updateOther(select, focus) {
            var $select = $(select);
            var $other = $($select.data("other"));
            var other_text = $select.data("other-text");
            var text = $select.find("option:selected").text();
            if (text === other_text) {
                $other.show();
                if (focus) $other.focus();
            } else {
                $other.val("").hide();
            }
        }

        var inputs = document.getElementsByTagName('input');
        for (var i = 0; i < inputs.length; i++) {
            if (inputs[i].hidden === true) {
                inputs[i].required = false;
            }
        }

        $(function () {
            $("#modalTitle").html("ກະລຸນາລົງຊື່ເຂົ້າໃຊ້");

        });

    </script>

}